<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search UI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="search-container">
        <div class="mb-4">
            <form action="/search" method="POST" enctype="multipart/form-data">
                <div class="search-input-group">
                    <input type="text" id="textQuery" name="text" placeholder="Search for everything">
                    <button type="submit" class="search-icon">
                        <i class="fas fa-search"></i>
                    </button>
                    <label class="file-input-label" for="imageUpload">
                        <i class="fas fa-file-image"></i>
                    </label>
                    <input type="file" class="file-input" id="imageUpload" name="query" accept="image/*" onchange="previewImage(event)">
                </div>
                <img id="imagePreview" class="image-preview" src="#" alt="Image Preview" style="display: none;">
            </form>
        </div>
        <div>
            <h6 class="text-muted">Recent Searches</h6>
            <ul class="list-group recent-searches">
                <li class="list-group-item">
                    <span class="text-muted">reservation</span>
                    <span class="list-group-item-remove">x</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/main.js"></script>
</body>
</html>